:root{
    --banner_hei: 140px;
    --mc: #003366;
    --sc: #006699;
}

/* 全局属性 */
body{
    margin: 0;
    font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #fefefe;
}
* {
    box-sizing: border-box;
}

/* 基本框架 */
.wrapper{
    width: 100%;
}
.wrapper>.header{
    position: relative;
    color: #fff;
}
.wrapper>.main{
    width: 75%;
    margin: 10px auto;
    min-height: 600px;
}
@media (max-width: 992px) {
    .wrapper>.main{
        width: 95%;
    }
}
.wrapper>.footer{
    background: var(--mc);
    color: #eee;
    font-size: 14px;
    text-align: center;
}

/* 顶部横幅 */
.banner{
    position: relative;
    height: var(--banner_hei);
    background-color: var(--mc);
    background-image: url("../images/banner_bg.png");
    background-repeat: no-repeat;
    background-position: 90% center;
    -webkit-background-size: 20%;
    background-size: 20%;
}
@media (max-width: 992px){
    .banner{
        background-image: none;
    }
}
.banner .logo{
    position: absolute;
    display: block;
    left: 15%;
    top: 15px;
}
.banner .logo img{
    height: 100%;
    width: 500px;
}
.banner>.main{
    display: inline-block;
    margin-left: 200px;
    height: 100%;
}
.banner>.main>.title{
    font-size: 24px;
    word-spacing: 5px;
    letter-spacing: 2px;
    padding-top: 20px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.banner>.main>.title .zh{
    letter-spacing: 8px;
    margin-bottom: 5px;
}
.banner>.main>.title .en{
    font-size: 20px;
}

/* 导航栏 */
.nav-link{
    white-space: nowrap;
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    line-height: 35px;
    background: transparent;
    padding: 5px 15px;
}
.nav-bar{
    height: 45px;
    background: var(--sc);
}
ul.nav{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
ul.nav::after{
    display: table;
    content: ' ';
    clear: both;
}
ul.nav>li{
    float: left;
    display: inline-block;
    position: relative;
    text-align: center;
    max-width: 150px;
    vertical-align: middle;
    color: #fff;
}
ul.nav>li.active{
    background: #fff;
}
ul.nav>li>.nav-link{
    padding: 5px 45px;
    color: #efefef;
}
ul.nav>li.active>.nav-link{
    color: var(--sc);
}

.menus{
    display: none;
    padding: 0;
    margin: 0;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    border: 1px solid #eee;
}
.menus.open{
    display: block;
}
ul.nav>li>.menus{
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    border-top: none;
}
.menus a{
    color: #393939;
    overflow: hidden;
    font-size: 14px;
    font-weight: 500;
}
.menus>li:hover{
    background-color: var(--sc);
}
.menus>li:hover a{
    color: #fff;
}
ul.nav>li:hover{
    background: #fff;
}
ul.nav>li:hover>.nav-link{
    color: var(--sc);
}

/* 底部 */
.wrapper>.footer p{
    margin: 0;
    line-height: 1.8;
}
.wrapper>.footer .contact{
    padding: 35px 50px;
}
.contact .item{
    display: inline-block;
    line-height: 1;
    border-right: 1px solid #666;
    padding: 0 15px;
}
.wrapper>.footer .copyright{
    background: #111;
    padding: 5px;
}
.copyright{
    color: #ccc;
}

/* 快速导航 */
.nav-box .item{
    height: 130px;
    background: lightblue;
}
.nav-box a{
    display: block;
    height: 100%;
    text-align: center;
    line-height: 1;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    position: relative;
    padding-top: 25px;
}
.nav-box a:hover{
    text-decoration: none;
    color: #fff;
}
.nav-box .fas{
    display: block;
    text-align: center;
    font-size: 26px;
}
.nav-box .item p{
    margin: 15px 0 0;
}
.nav-box .msg-portal{
    background-image: url("../images/tmp/10.jpg");
}
.nav-box .mail-sys{
    background-image: url("../images/tmp/11.jpg");
}
.nav-box .edu{
    background-image: url("../images/tmp/12.jpg");
}

/* 联系方式 */
.contact .contact-weibo,.contact-weixin{
    display: inline-block;
    margin-right: 10px;
    width: 32px;
    height: 32px;
    background-color: #fff;
    background-repeat: no-repeat;
    border-radius: 100%;
}
.contact .contact-weixin{
    background-image: url("../images/contact_wx2.png");
}
.contact .contact-weibo{
    background-image: url("../images/contact_wb.png");
}
/* 图片墙 */
.image-wall img{
    width: 100%;
}