:root{
    --banner_hei: 110px;
    --mc: #19254D;
    --sc: #003366;
}

body{
    margin: 0;
    font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #eee;
}
* {
    box-sizing: border-box;
}

.wrapper{
    width: 100%;
}
.wrapper>.header{
    position: relative;
    color: #fff;
}
.banner{
    position: relative;
    height: var(--banner_hei);
    background: var(--mc);
}
.banner .logo{
    display: block;
    position: absolute;
}
.banner>.main{
    display: inline-block;
    margin-left: 200px;
    height: 100%;
}
.banner>.main>.title{
    font-size: 24px;
    word-spacing: 5px;
    letter-spacing: 2px;
    padding-top: 20px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.banner>.main>.title .zh{
    letter-spacing: 8px;
    margin-bottom: 5px;
}
.banner>.main>.title .en{
    font-size: 20px;
}

/* nav bar */
.nav-link{
    white-space: nowrap;
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    line-height: 35px;
    background: transparent;
    padding: 5px 15px;
}
.nav-bar{
    height: 45px;
    background: var(--sc);
}
ul.nav{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
ul.nav::after{
    display: table;
    content: ' ';
    clear: both;
}
ul.nav>li{
    float: left;
    display: inline-block;
    position: relative;
    text-align: center;
    max-width: 150px;
    vertical-align: middle;
}
.menus{
    display: none;
    padding: 0;
    margin: 0;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    border: 1px solid #eee;
}
.menus.open{
    display: block;
}
ul.nav>li>.menus{
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    border-top: none;
}
.menus a{
    color: #393939;
    overflow: hidden;
    font-size: 14px;
    font-weight: 500;
}
.menus>li:hover{
    background-color: var(--sc);
}
.menus>li:hover a{
    color: #fff;
}
ul.nav>li>.nav-link{
    color: #fff;
    padding: 5px 45px;
}
ul.nav>li:hover{
    background: #fff;
}
ul.nav>li:hover>.nav-link{
    color: var(--sc);
}

.logo>img{
    width: 150px;
    height: 150px;
    background: #fff;
}

/* main */
.wrapper>.main{
    width: 75%;
    margin: 10px auto;
    min-height: 600px;
}

/* footer */
.wrapper>.footer{
    min-height: 110px;
    background: var(--mc);
}
